@media (max-width: 1190px) {
	#testimonials {
	padding-top: 8rem;
	.carousel.slide {
		button.carousel-control-next.footer {
      position: absolute;
      top: 30rem;
      right: 0rem;
      background-color: #14213d;
      width: 80px;
      height: 80px;
      border-radius: 35px;
    }
		.carousel-inner {
			.carousel-item {
				.wrapper-testimonials {
					.testimonials-text {
						h2 {
							font-size: 36px;
							margin-bottom: 1.5rem;
						}
						p {
							width: 450px;
							font-size: 23px;
							line-height: 32px
						}
					}
				}
			}
		}
	}
}
}

@media (max-width: 992px) {
	#process {
		padding-inline: 7rem;
	.container {
		// text-align: center;
		.process-left {
			width: 100%;
			p {
				margin-block: 2rem;
				width: 500px;
				font-size: 18px;
			}
			h2 {
				font-size: 36px;
				width: 500px;
				}
		}
		.process-right {
			position: relative;
			width: 100%;
			img.ell-1 {
				position: absolute;
				right: 1rem;
				top: -2.1rem;
			}
			img.ell-2 {
				position: absolute;
				left: -3.8rem;
				bottom: 9rem;
			}
			img.dot {
				position: absolute;
				bottom: -5rem;
				right: -3.3rem;
			}
		}
	}
}

#help {
  .container {
    .help-right {
      .help-ellips {
       display: none;
      }
    }
  }
}

#product {
  padding-top: 10rem;
  // position: relative;
  .container {
    .carousel.slide {   
		 button.carousel-control-prev.product {
      position: absolute;
      top: 4rem;
      left: -3rem;
    }
		 button.carousel-control-next.product {
      position: absolute;
      top: 4rem;
      right: -3rem;
    }
      margin-top: 5rem;
			.carousel-inner {
				.carousel-item {
					h2 {
						font-size: 28px;
					}
				}
			}
    }
  }
}

	#testimonials {
	padding-top: 8rem;
	.carousel.slide {
		button.carousel-control-next.footer {
      position: absolute;
      top: 20rem;
      right: 0rem;
      background-color: #14213d;
      width: 80px;
      height: 80px;
      border-radius: 35px;
    }
		.carousel-inner {
			.carousel-item {
				.wrapper-testimonials {
					.testimonials-text {
						h2 {
							font-size: 36px;
							margin-bottom: 1.5rem;
						}
						p {
							width: 400px;
							font-size: 20px;
							line-height: 32px
						}
					}
				}
			}
		}
	}
}
}

@media (max-width: 768px) {
	#showcase {
		.pe-0.rounded-0 {
			// padding-top: 3rem;
			width: 100%;
			height: 100vh;
			background: url(../../images/png/showcase-background.png) no-repeat scroll
      top / cover;
			.showcase-left {
				h1 {
					font-size: 45px;
				}
				p {
				color: black;
        width: 370px;
      }
    }
  }
}
#nimadir {
	#carouselExampleIndicators {
  padding-inline: 6rem;
  // position: absolute;
  // top: 32rem;
  .container {
    position: relative;
    .carousel-inner {
      .carousel-item {
        color: white;
				h2 {
					font-size: 20px;
				}
        p {
          font-size: 14px;
        }
      }
      .carousel-control-next.product {
        .fa-solid.fa-arrow-right.fa-2x {
          position: absolute;
          right: 2rem;
					top: 7rem;
        }
      }
    }
  }
}
}

	#process {
		.container {
			.process-left {
				p {
					width: 400px;
				}
				h2 {
					width: 400px;
					font-size: 32px;
				}
			}
		}
	}
	#product {
  .container {
    .carousel.slide {   
		 button.carousel-control-prev.product {
      position: absolute;
      top: 4rem;
      left: -2rem;
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
		 button.carousel-control-next.product {
      position: absolute;
      top: 4rem;
      right: -2rem;
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
      margin-top: 5rem;
			.carousel-inner {
				.carousel-item {
					h2 {
						font-size: 23px;
					}
				}
			}
    }
  }
}

	#testimonials {
	padding-top: 5rem;
	.carousel.slide {
		button.carousel-control-next.footer {
      position: absolute;
      top: 38rem;
      right: 0rem;
      background-color: #14213d;
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }
		.carousel-inner {
			.carousel-item {
				.wrapper-testimonials {
					.testimonials-image {
						text-align: center;
					}
					.testimonials-text {
						h2 {
							font-size: 36px;
							margin-bottom: 1.5rem;
							text-align: center;
						}
						p {
							width: 500px;
							font-size: 20px;
							line-height: 32px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
}


@media (max-width: 576px) {
#showcase {
		.pe-0.rounded-0 {
			padding-top: 3rem;
			width: 100%;
			// height: 143vh;
			background: url(../../images/png/showcase-background.png) no-repeat scroll
      top / cover;
			.showcase-left {
				text-align: center;
				h1 {
					font-size: 45px;
				}
				p {
				color: black;
        width: 370px;
      }
    }
		img {
			max-width: 80%;
			max-height: 80%;
		}
  }
}
#nimadir {
		#carouselExampleIndicators {
  padding-inline: 3rem;
  // position: absolute;
  // top: 32rem;
  .container {
    position: relative;
    .carousel-inner {
      .carousel-item {
        color: white;
				h2 {
					font-size: 20px;
				}
        p {
          font-size: 14px;
        }
      }
      .carousel-control-next.product {
        .fa-solid.fa-arrow-right.fa-2x {
          position: absolute;
          right: 2rem;
					top: 7rem;
        }
      }
    }
  }
}
}

	#product {
  .container {
    .carousel.slide {   
		 button.carousel-control-prev.product {
      position: absolute;
      top: 4rem;
      left: -1rem;
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
		 button.carousel-control-next.product {
      position: absolute;
      top: 4rem;
      right: -1rem;
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
      margin-top: 5rem;
			.carousel-inner {
				.carousel-item {
					h2 {
						font-size: 23px;
					}
				}
			}
    }
  }
}

	#testimonials {
	padding-top: 5rem;
	.carousel.slide {
		button.carousel-control-next.footer {
      position: absolute;
      top: 38rem;
      right: 1rem;
      background-color: #14213d;
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }
		.carousel-inner {
			.carousel-item {
				.wrapper-testimonials {
					.testimonials-image {
						text-align: center;
					}
					.testimonials-text {
						h2 {
							font-size: 30px;
							margin-bottom: 1.5rem;
							text-align: center;
						}
						p {
							margin-inline: 3rem;
							width: 440px;
							font-size: 18px;
							line-height: 28px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
}

@media (max-width: 500px) {
	#showcase {
		margin-bottom: 2rem;
  .pe-0.rounded-0{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
    height: 40vh;
    background: url(../../images/png/showcase-background.png) no-repeat scroll
      top / cover;
			img {
				display: none;
			}
    .showcase-left {
      h1 {
        font-size: 40px;
      }
      p {
        width: 330px;
      }
    }
  }
}

#nimadir {
	#carouselExampleIndicators {
  .container {
    position: relative;
    .carousel-inner {
      .carousel-control-next.product {
        span.fa-solid.fa-arrow-right.fa-2x {
					position: absolute;
					top: 8.5rem;
        }
      }
			}
    }
  
}
}

#process {
	padding-inline: 5px;
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		.process-left {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			p {
				margin-block: 1.4rem;
				width: 350px;
				font-size: 14px;
				margin-inline: 2rem !important;
			}
			h2 {
				font-size: 30px;
				width: 380px;
				}
		}
		.process-right {
			padding-inline: 1rem;
			position: relative;
			width: 100%;
			img.ell-1 {
				position: absolute;
				right: -0.4rem;
				top: -2.1rem;
			}
			img.ell-2 {
				position: absolute;
				left: -1rem;
				bottom: 7rem;
			}
			img.dot {
				display: none;
			}
		}
	}
}
#help {
  padding-block: 3rem;
  .container {
    position: relative;
    .help-image {
      margin-top: -0.8rem;
    }
    .help-right {
			display: flex;
			flex-direction: column;
			align-items: center;
			.mt-3 {
				margin-inline: 0.7rem;
			}
			h2, p {
				text-align: center;
			}
			.help-dot  {
				display: none;
			}
      .solutions {
				.web {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
        margin-top: 5rem;
        img {
          margin-left: -7px;
					max-width: 50%;
					max-height: 50%;
        }
        span {
          font-weight: 500;
          margin-left: 5px;
        }
        p {
          width: 160px;
          margin-top: 0.8rem;
        }
      }
      .help-ellips {
        position: absolute;
        left: -4rem;
        bottom: 23rem;
      }
    }
  }
}
#client {
	padding-inline: 10px;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			width: 360px;
			font-size: 16px;
		}
		ul.d-flex {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 0;
		}
	}
}
	#product {
		padding-top: 4rem;
  .container {
	.product-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
    .carousel.slide {
			margin-top: 2rem !important;
		 button.carousel-control-prev.product {
      position: absolute;
      top: 2.3rem;
      left: -1rem;
      width: 35px;
      height: 35px;
      border-radius: 30px;
    }
		 button.carousel-control-next.product {
      position: absolute;
      top: 2.3rem;
      right: -1rem;
      width: 35px;
      height: 35px;
      border-radius: 30px;
    }
      margin-top: 5rem;
			.carousel-inner {
				.carousel-item {
					text-align: center;
					h2 {
						font-size: 20px;
					}
					p {
						font-size: 14px;
					}
					.wrapper-carousel {
						.carousel-bolagi {
							display: none;
							// flex-direction: column;
							// justify-content: center;
						}
					}
				}
			}
    }
  }
}
	#testimonials {
	padding-top: 3rem;
	.carousel.slide {
		button.carousel-control-next.footer {
      position: absolute;
      top: 54rem;
      right: 1rem;
      background-color: #14213d;
      width: 40px;
      height: 40px;
      border-radius: 25px;
    }
		.carousel-inner {
			.carousel-item {
				.wrapper-testimonials {
					.testimonials-image {
						text-align: center;
					}
					.testimonials-text {
						h2 {
							font-size: 28px;
							margin-bottom: 1.2rem;
							text-align: center;
						}
						p {
							margin-inline: 1rem;
							width: 440px;
							font-size: 18px;
							line-height: 24px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
}